@use '../core/variables';

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: var(--space-yxs);
	border-radius: var(--border-radius);

	color: var(--color-button-text);

	background-color: var(--color-button);

	transition: opacity 0.3s,
	color 0.3s ease-in-out;

	span {
		font-weight: var(--font-weight-bold);
	}

	&:hover {
		color: var(--color-blue);
		opacity: 0.8;
	}
}

table {
	overflow: hidden;
	border-collapse: collapse;

	width: 100%;
	border-radius: var(--border-radius);

	background: var(--color-gray);
	box-shadow: var(--box-shadow);

	thead {
		border-radius: var(--border-radius);
		background: var(--color-black);

		th {
			color: var(--color-white);
		}
	}

	th,
	td {
		padding: var(--spacing);
		border-bottom: 1px solid var(--border-color);
		text-align: left;
	}

	th:not(:last-child),
	td:not(:last-child) {
		border-right: 1px solid rgb(220 226 232);
	}

	th {
		font-weight: 600;
		white-space: nowrap;
	}

	td {
		vertical-align: middle;
	}

	tbody {
		font-size: var(--font-size-small);
	}

	tbody tr:nth-child(even) {
		background: var(--color-gray);
	}

	tbody tr:last-child td {
		border-bottom: 0;
	}
}
