@use '../core/variables' as *;
@use '../core/mixins' as *;

//* Скрываем выпадающий список, если НЕТ класса ._show)
.material-select > ._collapse:not(._show),
.select > ._collapse:not(._show) {
	display: none;
}

.main-content {
	// .main-content__body
	&__body {
		display: flex;
		gap: var(--gap-2);
		min-height: calc(100vh - 64px);

		@include screen-768 {
			gap: 0;
		}
	}

	// .main-content__column
	&__column {
		min-width: 0;
		padding-block: var(--padding);

		&:first-child {
			flex: 0 0 320px;
			width: fit-content;
			width: 320px;
		}

		&:last-child {
			flex: 1 1 auto;

		}
	}

	// .main-content__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--gap-2);
	}

	// .main-content__header
	&__header {
		display: flex;
		gap: var(--gap);
		justify-content: space-between;
		margin-bottom: var(--padding);
	}

	// .main-content__breadcrumbs
	&__breadcrumbs {
		display: flex;
		gap: 0.25rem;
		align-items: center;

		margin-bottom: 0.75rem;

		font-size: 1.6rem;
	}

	// .materials__breadcrumbs-current
	&__breadcrumbs-current {
		font-weight: 600
	}

	// .main-content__title
	&__title {
		font-family: $font-family-secondary;
		font-size: var(--clamp-32);
		font-weight: 600;
		line-height: 1.2;
		color: var(--color-text);
	}

	// .main-content__section
	&__section {
		padding: 2.4rem;
		border-radius: 8px;
		background: var(--color-white);
		box-shadow: var(--box-shadow);

		& + & {
			margin-top: 2.4rem;
		}

		@include screen-375 {
			margin: 0 -2rem;
		}
	}

	// .material-movements__date, .material-movements__rolls
	.material-movements__date, &__rolls {
		white-space: nowrap;
	}

	// .material-movements__link-more
	&__link-more {
		margin-bottom: var(--space-xs);

		span {
			padding-right: var(--padding);
		}
	}

	// .main-content__section-title
	&__section-title {
		margin-bottom: 20px;

		font-family: $font-family-secondary;
		font-size: 2.2rem;
		font-weight: 500;
		line-height: 1.2;
		color: var(--color-text);
	}

	// .main-content__stats
	&__stats {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;

		@include screen-540 {
			grid-template-columns: repeat(2, 1fr);
		}
		@include screen-375 {
			grid-template-columns: 1fr;
		}
	}

	// .main-content__stat
	&__stat {
		display: flex;
		flex-direction: column;
		gap: 8px;

		padding: 20px;
		border-radius: 8px;

		background-color: var(--color-light);
	}

	// .main-content__stat-label
	&__stat-label {
		font-size: 1.4rem;
		color: var(--color-text);
	}

	// .main-content__stat-value
	&__stat-value {
		font-family: $font-family-secondary;
		font-size: 2.8rem;
		font-weight: 600;
		color: var(--color-text);
	}

	// .main-content__empty
	&__empty {
		color: var(--color-text-secondary);
	}

	// .main-content__operations
	&__operations {
		overflow: auto;
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}

	// .main-content__operation
	&__operation {
		overflow: hidden;
		border-bottom: 1px solid var(--color-border);
		border-radius: var(--border-radius-8);

		&:first-child {
			padding-top: 0;
			border-top: 0;
		}
	}

	// .main-content__operation-info
	&__operation-info {
		overflow-x: auto;
		display: grid;
		grid-template-columns: minmax(200px, 1.5fr) repeat(2, minmax(110px, 1fr)) minmax(120px, 1.1fr);
		gap: var(--gap);
		align-items: center;

		width: 100%;
		padding: 1rem;

		font-size: 1.4rem;
		color: var(--color-text);
	}

	// .main-content__operation-header
	&__operation-header {
		display: flex;
		gap: var(--gap);
		align-items: center;
		justify-content: space-between;

		padding: var(--space-yxs);
		border-bottom: 1px solid var(--color-border);

		background: var(--color-light);
	}

	// .main-content__operation-title
	&__operation-title {
		color: var(--color-text);
	}

	// .main-content__operation-date
	&__operation-date {
		font-size: 1.3rem;
		color: var(--color-text);
		white-space: nowrap;
		opacity: 0.9;
	}

	// .main-content__operation-material
	&__operation-material {
		padding: 0 1rem;
		border-right: 1px solid var(--color-border);
		line-height: 127%;
	}

	// .main-content__operation-roll
	&__operation-roll {
		padding: 1rem;
		border-right: 1px solid var(--color-border);
	}

	// .main-content__operation-weight
	&__operation-weight {
		margin-left: auto;
		padding: 1rem;
		border-right: 1px solid var(--color-border);
	}

	// .main-content__operation-weight
	&__operation-weight {
		padding: 1rem;
		border-right: 1px solid var(--color-border);
		white-space: nowrap;
	}

	// .main-content__operation-user
	&__operation-user {
		justify-self: end;
		text-align: right;
		white-space: nowrap;

	}

	// .main-content__errors
	&__errors {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	// .main-content__error
	&__error {
		list-style: none;
	}
}

.quick-action {
	// .quick-action__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	// .quick-action__link
	&__link {
		transition: opacity 0.2s ease;

		&.button {
			@include screen-375 {
				width: 100%;
			}
		}

		&:hover {
			opacity: 0.8;
		}
	}
}
