@use '../core/variables' as *;
@use '../core/mixins' as *;

.page {
	// .page__header
	&__header {
		position: fixed;
		z-index: 11;
		top: 0;
		left: 0;

		width: 100%;
		border-bottom: 1px solid var(--color-pink);

		color: var(--color-text-secondary);

		background-color: var(--color-black);
	}

	// .page__main-content
	&__main-content {
		min-height: 100vh;
		padding-top: 64px;
	}
}