@use '../core/variables' as *;
@use '../core/mixins' as *;

.material-form {
	// .material-form__operations
	&__operations {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1.6rem;

		input {
			cursor: pointer;
		}

		label {
			display: flex;
			gap: 1rem;

			input {
				width: auto;}
		}
	}
}

.material-show {
	// .material-show__title
	&__title {
		font-family: $font-family-secondary;
		font-size: var(--clamp-32);
		font-weight: 600;
		line-height: 1.2;
		color: var(--color-text);
	}

	// .material-show__content
	&__content {
	}

	// .material-show__row
	&__row {
		padding: var(--spacing);
	}

	// .material-show__actions
	&__actions {
		margin-top: var(--padding);
	}

	// .material-show__operations
	&__operations {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}

	// material-show__status
	&__status {
		input {
			width: auto;
		}
	}
}

