// todo --------------------------- Fonts --------------------------------------

@use 'core/fonts';
@use 'core/fonts-import';
@use 'core/iconfonts';

//todo  --------------------------- Core ---------------------------------------
@use 'core/reset' as *;
@use 'core/variables' as *;
@use 'core/mixins' as *;
////@use 'core/extend' as *;
//todo  --------------------------- layouts ------------------------------------
@use 'layouts/page';
@use 'layouts/header';
@use 'layouts/main-content';
@use 'layouts/bem';

//todo  --------------------------- Pages --------------------------------------
@use 'pages/warehouse';
@use 'pages/material-receipt';
@use 'pages/material-rolls';

//todo  -------------------------- Partials ------------------------------------
@use 'partials/message.blade';
@use 'partials/its-select';

//todo  -------------------------- Components ----------------------------------
@use 'components/sidebar';
@use 'components/receipt-order';
@use 'components/warehouse-filter';
@use 'components/warehouse-material';

//todo  -------------------------- Modules -------------------------------------
@use 'modules/operation-modal';

// todo --------------------------- Style --------------------------------------
.wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;
	min-height: 100vh;
	margin: 0 auto;
}

[class*='container'] {
	box-sizing: border-box;
	width: 100%;
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 2rem;

	@include screen-490 {
		padding: 0 10px;
	}
}