// todo --------------------------- Fonts --------------------------------------

@use 'core/fonts';
@use 'core/fonts-import';
@use 'core/iconfonts';

//todo  --------------------------- Core ---------------------------------------

@use 'core/reset' as *;
@use 'core/variables' as *;
@use 'core/mixins' as *;

//todo  --------------------------- layouts ------------------------------------

@use 'layouts/page';
@use 'layouts/header';
@use 'layouts/main-content';
@use 'layouts/bem';

//todo  --------------------------- Pages --------------------------------------

@use 'pages/material-modal';
@use 'pages/warehouse';
@use 'pages/operations';
@use 'pages/catalogs';

//todo  -------------------------- Partials ------------------------------------

@use 'partials/message.blade';
@use 'partials/its-select';

//todo  -------------------------- Components ----------------------------------

@use 'components/sidebar';
@use 'components/order-form';
@use 'components/warehouse-filter';
@use 'components/lamination-form';
@use 'components/operation-form';
@use 'components/operation-view';
@use 'components/s';

//todo  -------------------------- Modules -------------------------------------

@use 'modules/operation-modal';

// todo --------------------------- Style --------------------------------------
.wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;
	min-height: 100vh;
	margin: 0 auto;
}

[class*='container'] {
	box-sizing: border-box;
	width: 100%;
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 2rem;

	@include screen-320 {
		padding: 0 10px;
	}
}