//* -------------------------------- Container --------------------------------

$maxWidthContainer: 1440px;

//* -------------------------------- Fonts -------------------------------------

$font-path: '/fonts';

$font-family-default: 'Manrope', sans-serif;
$font-family-secondary: 'inter', sans-serif;

$font-weight-default: 400;
$font-size: 1.6rem;
$font-color: var(--color-text);

//* -------------------------------- Colors ------------------------------------

:root {
	--shadow: 0 1px 2px 0 rgb(201 186 186);
	--space-xy: 2rem;
	--border-radius: 8px;
	--color-white: #fff;
	--color-beige: #fff3f3;
	--color-black: #000;
	//	--color-pink: rgb(188, 19, 254);
	--color-pink: rgb(254, 89, 194);
	--color-gray: #fff3f3;
	--color-blue: rgb(85, 85, 255);
	//	--color-green: rgb(204, 255, 0);
	//	--color-green: rgb(200, 255, 0);
	--color-green: rgb(254, 254, 34);
	--color-orange: orange;

	--background: var(--color-beige);
	--background-secondary: var(--color-pink);
	--background-gray: var(--color-gray);

	--color-text: var(--color-black);
	--color-text-secondary: var(--color-pink);

	--color-button: var(--color-pink);
	--color-button-text: var(--color-black);

	--color-accent: var(--color-pink);
	--color-border: var(--color-black);
}

//* -------------------------------- Dark Theme --------------------------------

[data-theme='dark'] {
	--background: var(--color-black);
	--background-secondary: var(--color-pink);

	--color-text: var(--color-white);
	--color-text-secondary: var(--color-white);

	--color-button: var(--color-pink);
	--color-button-text: var(--color-black);

	--color-accent: var(--color-pink);
	--color-border: var(--color-white);
}