/* stylelint-disable annotation-no-unknown */

@use 'sass:string'; // Импортируем модуль string
$icomoon-font-family: 'icon-set' !default;
$icomoon-font-path: '/fonts' !default;

$icon-roll: string.unquote('"\\e903"');
$icon-warehouse: string.unquote('"\\e901"');
$icon-crane: string.unquote('"\\e902"');
$icon-home-com: string.unquote('"\\e9e3"');
$icon-users-group: string.unquote('"\\e912"');
$icon-link: string.unquote('"\\e9cb"');
$icon-settings-cogs: string.unquote('"\\f085"');
$icon-sign-out: string.unquote('"\\e916"');
$icon-angle-left: string.unquote('"\\f104"');
$icon-angle-right: string.unquote('"\\f105"');
$icon-angle-up: string.unquote('"\\f106"');
$icon-angle-down: string.unquote('"\\f107"');
$icon-enter: string.unquote('"\\ea41"');
$icon-exit: string.unquote('"\\ea42"');
$icon-exchange: string.unquote('"\\f0ec"');
$icon-folder-open: string.unquote('"\\f07c"');
$icon-calculator: string.unquote('"\\e90f"');
$icon-factory: string.unquote('"\\e9cc"');
$icon-order-list: string.unquote('"\\e90d"');
$icon-search-doc: string.unquote('"\\e9cd"');
$icon-copy-files: string.unquote('"\\f0c5"');
$icon-file-word: string.unquote('"\\f1c2"');
$icon-file-text: string.unquote('"\\f0f6"');
$icon-print1: string.unquote('"\\f02f"');
$icon-close: string.unquote('"\\e9ce"');
$icon-caret-right: string.unquote('"\\e9cf"');
$icon-information-outline: string.unquote('"\\e900"');
$icon-home-house: string.unquote('"\\e9e2"');
$icon-embed: string.unquote('"\\ea7f"');
$icon-embed-code: string.unquote('"\\ea80"');
$icon-indent-increase: string.unquote('"\\ea7b"');
$icon-indent-decrease: string.unquote('"\\ea7c"');
$icon-angles-left-solid: string.unquote('"\\e94c"');
$icon-angles-right-solid: string.unquote('"\\e94f"');
$icon-angles-up-solid: string.unquote('"\\e94d"');
$icon-angles-down-solid: string.unquote('"\\e94e"');
$icon-bin-trashcan: string.unquote('"\\e9ae"');
$icon-file-excel: string.unquote('"\\eae2"');
$icon-equalizer-settings: string.unquote('"\\e9d3"');
$icon-settings-options: string.unquote('"\\e9d4"');
$icon-settings-generate: string.unquote('"\\e9d5"');
$icon-recycle-arrows: string.unquote('"\\e9d7"');
$icon-archive: string.unquote('"\\e9d8"');
$icon-lock-security: string.unquote('"\\e9d9"');
$icon-catalog: string.unquote('"\\e90a"');
$icon-print: string.unquote('"\\e9db"');
$icon-cut: string.unquote('"\\e9dc"');
$icon-minus: string.unquote('"\\e9df"');
$icon-plus: string.unquote('"\\e9e0"');
