@use '../core/variables' as *;
@use '../core/mixins' as *;

.select {

	// .select__button
	&__button {
	}

	// .select__dropdown
	&__dropdown {
		position: absolute;
		background-color: var(--color-white);
		border: 1px solid var(--border-color);
		box-shadow: var(--focus-shadow);
		border-radius: var(--border-radius);

		transform: translateY(3px);
		max-height: 280px;
		overflow-y: auto;
		width: 100%;
		padding: 6px;
	}

	// .select__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}

	// .select__item
	&__item {
		outline: none;
		cursor: pointer;
		padding: 12px;
		transition: background 0.4s ease-in-out;

		&._selected {
			background: var(--focus-color);
		}

		&:hover {
			background: var(--focus-color);
		}
	}
}

