@use '../core/variables' as *;
@use '../core/mixins' as *;

.select {

	// .select__button
	&__button {
	}

	// .select__dropdown
	&__dropdown {
		background: var(--color-gray);
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		box-shadow: var(--focus-shadow);

		position: absolute;
		transform: translateY(3px);
		width: 100%;
	}

	// .select__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;

	}

	// .select__item
	&__item {
		outline: none;
		cursor: pointer;
		padding: 12px;
		transition: background 0.4s ease-in-out;

		&._selected {
			background: var(--focus-color);
		}

		&:hover {
			background: var(--focus-color);
		}
	}
}

