@use '../core/variables' as *;
@use '../core/mixins' as *;

.message {
	position: fixed;
	z-index: 1000;
	top: 80px;
	right: 24px;

	display: flex;
	gap: 16px;
	align-items: flex-start;

	width: min(420px, calc(100vw - 48px));
	padding: 14px 16px;
	border-radius: var(--border-radius-8);

	box-shadow: 0 4px 8px rgb(0 0 0 / 20%),
	0 6px 20px rgb(0 0 0 / 19%);

	animation: message-show 0.3s ease;

	// .message--success
	&--success {
		color: var(--color-black);
		background-color: var(--color-pink);
	}

	// .message--error
	&--error {
		border: 1px solid var(--color-pink);
		color: var(--color-white);
		background-color: var(--color-black);
	}

	// .message__content
	&__content {
		flex: 1 1 auto;
		min-width: 0;
	}

	// .message__errors
	&__errors {
		display: flex;
		flex-direction: column;
		gap: 5px;

		margin: 0;
		padding: 0;
	}

	// .message__error
	&__error {
		//		padding: var(--spacing);
		line-height: 1.5;
		list-style: none;

		&:not(:last-child) {
			margin-bottom: 1rem;

		}
	}

	// .message__close
	&__close {
		cursor: pointer;

		display: flex;
		flex: 0 0 auto;
		align-items: center;
		justify-content: center;

		width: 24px;
		height: 24px;
		border: 0;

		color: currentcolor;

		opacity: 0.7;
		background: none;

		transition: opacity 0.2s ease;

		&:hover {
			opacity: 1;
		}
	}

	// .message._hide
	&._hide {
		animation: message-hide 0.3s ease forwards;
	}
}

@keyframes message-show {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes message-hide {
	from {
		transform: translateY(0);
		opacity: 1;
	}

	to {
		transform: translateY(-10px);
		opacity: 0;
	}
}