@use '../core/variables' as *;
@use '../core/mixins' as *;

.sidebar {
	position: sticky;
	z-index: 9;
	top: calc(64px + 2rem);

	height: calc(100vh - 64px - 4rem);
	border-radius: var(--border-radius-8);

	color: var(--color-text);

	@include screen-768 {
		position: fixed;
	}

	// .sidebar__body
	&__body {
		height: 100%;
	}

	// .sidebar__nav
	&__nav {
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 4px;

		width: fit-content;
		height: 100%;
		padding: var(--space-yxs);
		border-radius: var(--border-radius-8);

		background-color: var(--color-white);
		box-shadow: var(--box-shadow);

		.icon {
			margin-right: var(--padding);
			font-size: 2rem;
			color: var(--color-button);
		}
	}

	// .sidebar__link
	&__link {
		display: flex;
		align-items: center;

		padding: 1rem;
		border-radius: var(--border-radius-8);

		font-weight: var(--font-weight-bold);
		line-height: 1;

		transition: color 0.4s ease,
		background-color 0.5s ease;

		&:hover {
			background-color: var(--border-color);
		}

		&.is-active {
			background-color: var(--border-color);
		}

	}

	// .sidebar__section
	&__section {
		display: flex;
		flex-direction: column;
		gap: 4px;
		width: fit-content;
	}

	// .sidebar__section-title
	&__section-title {
		display: flex;
		align-items: center;
		padding: 1rem;
		font-weight: var(--font-weight-bold);
	}

	// .sidebar__submenu
	&__submenu {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	// .sidebar__link--submenu
	&__link--submenu {
		margin-left: 2rem;
		padding: 1rem 1.6rem;
	}
}