@use '../core/variables' as *;
@use '../core/mixins' as *;

.filters-actions {
	margin-block: 0 2rem;

	// .filters-actions__content
	&__content {
		padding: var(--padding);
		border-radius: var(--border-radius-8);
		background: var(--color-gray);
		box-shadow: var(--box-shadow);
	}

	// .filters-actions__filters-form
	&__filters-form {
		display: flex;
		flex-direction: column;
		gap: var(--gap-3);
	}

	// .filters-actions__filters-body
	&__filters-body {
		display: grid;
		grid-template-columns: minmax(170px, 1.2fr) repeat(2, minmax(120px, 1fr));
		gap: var(--gap);
		align-items: end;

		@include screen-620 {
			grid-template-columns: minmax(170px, 1.5fr) minmax(120px, 1fr)
		}
		@include screen-375 {
			grid-template-columns: 1fr
		}
	}

	// .filters-actions__filter
	&__filter {
		display: flex;
		flex-direction: column;
		gap: 7px;

		@include min-375 {
			&:nth-child(4) {
				grid-column: 1 / 2;
				grid-row: 2 / 3;
			}
		}
		@include screen-375 {
			grid-column: 1 / 2;
		}
	}

	// .filters-actions__filter-label
	&__filter-label {
		font-size: 1.4rem;
		font-weight: 500;
	}

	// .filters-actions__filter-input
	&__filter-input, .select__button {
		cursor: pointer;

		width: 100%;
		height: 4.2rem;
		padding: 0 12px;
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);

		font: inherit;

		background: var(--background-gray);
		outline: none;

		transition: border-color 0.2s ease,
		box-shadow 0.2s ease;

		&:focus {
			border-color: var(--border-color);
			box-shadow: var(--focus-shadow);
		}
	}

	// .filters-actions__actions
	&__actions {
		display: flex;
		gap: var(--gap);
		align-items: center;
		justify-content: end;
	}

	// .filters-actions__filter-select
	&__filter-select {
		position: relative;
	}

	// .filters-actions__filter-button
	&__filter-button {
		border: 1px solid var(--border-color);
	}

	// .filters-actions__filter-reset
	&__filter-reset {
		display: inline-flex;
		justify-content: center;

		border: 1px solid var(--border-color);

		color: var(--color-text);
		text-decoration: none;

		background: var(--background-gray);
		background-color: var(--background);
	}

	// .filters-actions__filter-button, .filters-actions__filter-reset
	&__filter-button, &__filter-reset {
		white-space: nowrap;

		span {
			font-weight: 600;
		}
	}
}